<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Casting Agency</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
	        integrity="sha256-321PxS+POvbvWcIVoRZeRmf32q7fTFQJ21bXwTNWREY=" crossorigin="anonymous"></script>
</head>
<body>

{# nav #}

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div id="" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="/movies" id="movieLink">
				Movies
			</a>
			<a class="navbar-item" href="/actors" id="actorLink">
				Actors
			</a>
			<div class="navbar-item">
				<div class="buttons">
					<a id="loginButton" class="button is-primary" href="https://dev-wsb8jitr.auth0.com/authorize?audience=casting_agency&response_type=token&client_id=K33oU7fu27mImUnefrOzLjNIikd2e72b&redirect_uri=https://udacity-casting-agency.herokuapp.com">
						<strong>Log in</strong>
					</a>
					<a id="addActorButton" class="button is-primary modal-button" data-target="#actorModal" aria-haspopup="true">
						<strong>Add actor</strong>
					</a>
					<a id="addMovieButton" class="button is-primary modal-button" data-target="#movieModal" aria-haspopup="true">
						<strong>Add movie</strong>
					</a>
					<a id="logoutButton" class="button is-primary" onclick="logOut()">
						<strong>Log out</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="container is-fluid">

	{# modals #}

	{# add actor modal #}
	<div class="modal" id="actorModal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<form class="box" onsubmit="event.preventDefault(); submitActor()" id="actorForm">
				<div class="field">
					<label class="label">Name</label>
					<div class="control">
						<input class="input" type="text" placeholder="Actor's name" name="name">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<label class="radio">
							<input type="radio" name="gender" value="M">
							Male
						</label>
						<label class="radio">
							<input type="radio" name="gender" value="F">
							Female
						</label>
					</div>
					<br>
					<div class="field is-grouped">
						<div class="control">
							<button class="button is-primary">
								<strong>Submit</strong>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<button class="modal-close is-large" aria-label="close"></button>
	</div>

	{# add movie modal #}
	<div class="modal" id="movieModal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<form class="box" onsubmit="event.preventDefault(); submitMovie()" id="movieForm">
				<div class="field">
					<label class="label">Title</label>
					<div class="control">
						<input class="input" type="text" placeholder="Movie's title" name="title">
					</div>
				</div>
				<div class="field">
					<label class="label">Release date</label>
					<div class="control">
						<input class="input" type="date" name="release_date">
					</div>
					<br>
					<div class="field is-grouped">
						<div class="control">
							<button class="button is-primary">
								<strong>Submit</strong>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<button class="modal-close is-large" aria-label="close"></button>
	</div>

	{# extended pages	#}

	{% block index %}{% endblock %}
	{% block login %}{% endblock %}
	{% block movies %}{% endblock %}
	{% block actors %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>